<!DOCTYPE html> <--! Formulario que vai ser ligado com a aplicacao flask -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <form method="POST">
            <h1>Login</h1>
            <input type="text" placeholder = "NomeUsuario:" name="NomeUser">
            <br>
            <br>
            <input type = "email" placeholder = "Email:" name = "EmailUser">
            <br>
            <br>
            <input type="password" placeholder="Senha:" name = "PasswordUser">
            <br>
            <br>
            <button type="submit" value="Enviar">Enviar</button>
        </form>
    </div>
    
</body>
</html>